h1 {
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:45px;
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-size: 30px;
    font-style: italic;
    font-variant: small-caps;
}

P {
    text-transform: uppercase;
    color: #0000ff;
}